:80 {
  handle /static {
    reverse_proxy https://us-assets.i.posthog.com:443 {
      header_up Host us-assets.i.posthog.com
    }
  }
  handle {
    reverse_proxy https://us.i.posthog.com:443 {
      header_up Host us.i.posthog.com
    }
  }
}
